{% extends 'base.html' %}

{% block meta %}
<title>Create New Task</title>
{% endblock meta %}

{% block content %}

<style>
    input, textarea {
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 8px;
        width: 100%
    }
</style>

<div class="position-relative mx-auto container flex flex-col gap-4 pt-8" style="margin-top: 15px; text-align: center">
    <div class ="rounded-lg p-4 flex flex-col gap-4 mx-auto bg-base-100;" >
    
        <h1 style="padding-bottom: 10px; font-size: 40px;" class="font-monospace fw-semibold text-center">New Task</h1>
    
        <form method="POST" action="" style="display: inline-block;">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td colspan="2"><input style="width: 100%; margin-top: 20px; margin-bottom: 7px;" class="btn btn btn-dark" type="submit" name="submit" value="Create"></td>
                </tr>
            </table>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
    </div>
</div>

{% endblock content %}