{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="position-relative" style="margin-top: 150px; text-align: center;">

    <div class ="login position-absolute top-50 start-50 translate-middle" >
    
        <h1 style="padding-top: 150px; padding-bottom: 10px; font-size: 40px;" class="font-monospace fw-semibold text-center">Login</h1>

    
        <form method="POST" action="">
            {% csrf_token %}
            <table style="width: 100%;">
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                <tr>
                    <td colspan="2"><input style="width: 100%; margin-top: 20px; margin-bottom: 7px;" class="btn login_btn btn btn-dark" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    
    </div>
</div>

{% endblock content %}