{% extends 'base.html' %}

  {% block content %}

  <h1>To Do List</h1>

  <h5>Username: {{user.username}}</h5>
  
  
  <table border="1" style="margin: 10px">
    
    <tr>
      <th>Date Created</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    
    {% for todo in todo_list %}
    <tr>
      <td>{{todo.date}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.is_finished}}</td>
    </tr>
    {% endfor %}
  </table>
  <button><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% endblock content %}
