{% extends 'base.html' %}

  {% block content %}

  <h1>To Do List</h1>

  <h5>Hi {{user.username}}!</h5>
  
  
  <table border="1" style="margin:10px;width:95%">
    
    <tr style="text-align:center">
      <th>Date Created</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Change Status</th>
      <th>Delete Task</th>
    </tr>
    
    {% for todo in todo_list %}
    <tr style="text-align:center">
      <td>{{todo.date}}</td>
      <td>{{todo.title}}</td>
      <td>{{todo.description}}</td>
      <td>
        {% if todo.is_finished %} Done
        {% else %} Not Done
        {% endif %}
      </td>
      <td>
        <button><a href="{% url 'todolist:change_status' todo.pk %}">Finish Task</a></button>
      </td>
      <td>
        <button><a href="{% url 'todolist:delete_task' todo.pk %}">Delete Task</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>
  <button><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

 {% endblock content %}
